@font-face {
    font-family: 'Recursive';
    src: url('assets/fonts/Recursive_VF_1.078.woff2');
}

:root {

}

html, body {
    margin: 0;
    padding: 0;

    font-family: "Recursive", serif;
    --mono: "MONO" 0;
    --casl: "CASL" 1;
    --wght: "wgth" 400;
    --slnt: "slnt" -15;
    --CRSV: "CRSV" 0.5;

    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.site-list {
    max-width: 774px;
    display: flex;
    flex-wrap: wrap;
}

.site-container {
    border: 3px solid black;
    width: 200px;
    margin: 20px;
    padding: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.occassion {
    font-size: 12px;
    text-align: center;
}

.description {
    text
}