body {
    font-family: "Garamond", "Arial", sans-serif;
    text-align: center;
}

.center_title > h1 {
    font-size: 8vw;
    padding: 30vh 5vw;
}

.center_title > h2 {
    font-size: 5vw;
    padding: 60vh 5vw;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 5vw;
}

p {
    font-size: 3vw;
    padding: 5vh 0;
}

img {
    image-orientation: from-image;
}

/* .center_title > *{
    padding: 40px;
} */

.pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pic > div {
    max-width: 40%;
    padding: 5%;
}

.pic > div > img{
    max-width: 100%;
    max-height: 90vh;
}

.parallax1 {
    background-image: url("carousel.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax2 {
    background-image: url("rodeo.jpg");
    height: 90vh;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.foot > h2 {
    padding: 0 5vw 1vh; 
    margin: 0;
}

